
*{  
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* border: 1px solid #000; */
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #dadada;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.wrapper{
    margin: auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper .image{
    width: 22%;
    height: 200px;
    border-radius: 4px;
    overflow: hidden;
    margin: 20px 0;
}

img{
    width: 100%;
    height: 100%;
    offset-position: center;
    object-fit:cover;
    transition: 0.35s linear;
}

.wrapper .image img:hover{
    transform: scale(1.2);
}

.gallery{
    position: fixed;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transition: 0.3s linear;
}


.gallery img{
    max-height: 700px;
    width: 700px;
    max-width: 100%;
}

.close{
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}

.show__image{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.control__prev,.control__next{
    font-size: 35px;
    color: rgba(255,255,255,0.8);
    position: absolute;
    cursor: pointer;
}

.control__prev{
    left: 15px;
}

.control__next{
    right: 15px;
}


.control__prev:hover{
    opacity: 0.5;
}

.control__next:hover{
    opacity: 0.5;
}

.hidden{
    display: none;
}